@import '../../style/base.scss';
@import '../../style/mixins.scss';

.nav{
    display:flex;
    flex-direction:column;
    width:100%;
    background-color:$black-text-color;
  
    &__logo-container{
        display:flex;
        justify-content: center;
        align-items: center;
        padding:16px 0px;
    }
   
    &__links-container{
        width:100%;
        display:flex;
        justify-content: space-around;
        align-items: center;
        font-size:1.1rem;
    }

    &__inventory-link{
        width: 50%;
        text-decoration: none;
        padding-bottom: 14px;
        color:$silver-color;

        text-align: center;

    }
    &__location-link{
        width: 50%;
        text-decoration: none;
        color:$silver-color;
        width: 50%;
        padding-bottom: 14px;
        text-align: center;
    }
    &__active-link{
        color:$white-text-color;
        border-bottom:3px solid white;
        padding-bottom:14px
        }

    @include tablet-size {
        height:80px;
        justify-content: flex-start;
        flex-direction:row;
        align-items: center;

        &__logo-container{
            display:flex;
            justify-content: center;
            align-items: center;
            width:20%;
            padding:16px 0px;
            
        }
        &__links-container{
            width:37%;
            display:flex;
            align-items: center;
            justify-content: space-around;
            font-size:1.1rem;
        }
        &__inventory-link{
            text-decoration: none;
            color:$silver-color;
            padding:0%;
        }
        &__location-link{
            text-decoration: none;
            color:$silver-color;
            padding:0%;
        }
        &__active-link{
            color:$white-text-color;
            border-bottom:3px solid white;
            padding-bottom:24px;
            padding-top:31px;
            }
    }

    @include desktop-size {
        height:80px;
        justify-content: flex-start;
        flex-direction:row;
        align-items: center;

        &__logo-container{
            display:flex;
            justify-content: center;
            align-items: center;
            width:20%;
            padding-left:180px;
            padding-right:4%;
        }
        &__links-container{
            width:22%;
            display:flex;
            align-items: center;
            justify-content: space-around;
            font-size:1.1rem;
        }
        &__inventory-link{
            text-decoration: none;
            color:$silver-color;
            padding:0%;
        }
        &__location-link{
            text-decoration: none;
            color:$silver-color;
            padding:0%;
        }
        &__active-link{
            color:$white-text-color;
            border-bottom:3px solid white;
            padding-bottom:25px;
            padding-top:31px;
            }
    }

}