@import "../../style/base.scss";

.main__content-list {
  border-bottom: 1px solid $divider-color;
  margin-bottom: 24px;

  @include desktop-size {
    @include flex-display-row;
    justify-content: space-between;
     padding-bottom: 24px;
  }

  &__row {
    @include tablet-size {
      @include flex-display-row;
      justify-content: space-between;
      margin-bottom: 32px;
      
      &:nth-child(2) {
        margin-bottom: 24px;
      }
    }

    @include desktop-size {
      margin-bottom: 0;

      &:nth-child(2) {
        margin-bottom: 0;
      }
    }
  }

  &__address {
    @include flex-display-column;
    padding-bottom: 24px;

    @include tablet-size {
      padding-bottom: 0;
    }

    &-title {
      @include subheader-mobile-style;

      @include tablet-size {
        @include subheader-tablet-style;
      }
    }

    &:nth-child(3) {
      @include tablet-size {
        width: 30%;
      }
    }
  }

  &__arrowIcon {
    @include tablet-size {
      background-image: url(../../assets/Icons/SVG/Icon-arrow-right.svg);
      background-repeat: no-repeat;
      margin-top: 14px;
      width: 11px;
      height: 18px;
    }
  }

  &__tabletIcon {
    @include desktop-size {
      display: none;
    }
  }

  &__desktopIcon {
    @include tablet-size {
      display: none;
    }
    @include desktop-size {
      display: block;
    }
  }
}
