@import "../../style/base.scss";

.main {
  background-color: $grey-color;
  padding: 24px 16px;

  @include tablet-size {
    padding: 48px 24px;
  }
  @include desktop-size {
    padding: 48px 180px;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    &-titles {
      display: none;
      @include tablet-size {
        display: table-header-group;
      }
      &-row {
        text-align: left;
        @include pargraph-tablet-style;
        color: $silver-color;
        text-transform: uppercase;
      }
    }

    &-body {
      &__group {
        @include flex-display-row;
        justify-content: space-between;

        @include tablet-size {
          display: block;
        }
      }

      &__head {
        @include flex-display-column;
        @include tablet-size {
          display: table-row;
        }
      }

      &__data {
        padding-top: 2%;

        &:first-child {
          @include tablet-size {
            width: 29%;
            padding: 0;
          }
          @include desktop-size {
            width: 44%;
          }
        }

        &-item {
          @include flex-display-row;
          justify-content: space-between;
          @include subheader-tablet-style;
          color: $silver-color;
          text-transform: uppercase;
          @include tablet-size {
            display: none;
          }
          //the dots for the mobile view only
          &::after {
            content: url("../../assets/Icons/SVG/Icon-kebab-default.svg");
            background-repeat: no-repeat;
            width: 5px;
            margin: 0;
          }
        }

        //the table heading for the mobile view only
        &::before {
          @include subheader-mobile-style;
          content: attr(data-label);
          padding: 24px 0 10px 0;
          text-transform: uppercase;
          color: #afafaf;
          display: block;

          @include tablet-size {
            @include subheader-tablet-style;
            display: none;
          }
        }

      
        &-firstTitle {
          margin: 0;
          margin-top: 15px;
        }

        &-input {
          display: none;
          @include tablet-size {
            display: block;
            content: url("../../assets/Icons/SVG/Icon-kebab-default.svg");
            background-repeat: no-repeat;
            width: 5px;
          }
        }
      }
    }
  }
}
