@import "../../style/base.scss";

.main__list {
  padding: 32px 16px;
  margin-top: 32px;
  background-color: $grey-color;

  @include tablet-size {
    padding: 48px 24px;
  }
  @include desktop-size {
    padding: 48px 180px;
  }

  &-titles {
    display: none;
    @include tablet-size {
      @include flex-display-row;
    }
    & span {
        @include tablet-size {
            @include subheader-tablet-style;
            color: $silver-color;
            // text-align: center;
            text-transform: uppercase;
            font-size: 13px;
            width: 26%;
            padding-left: 33px;
            
            &:first-child {
            width: 38%;
            text-align: left;
            padding: 0;
            margin-right: 4%;
            }
            &:last-child {
            margin-right: 0;
            }
        }
        @include desktop-size {
            width: 15%;
            
            &:first-child {
            width: 32%;
            }
        }
    }
}

  &-items {
    @include flex-display-column;
    text-decoration: none;
    border-bottom: 1px solid $divider-color;
    padding-bottom: 32px;
    color: $black-text-color;

    @include tablet-size {
      @include flex-display-row;
    }

    &__group {
      margin-top: 24px;

      @include tablet-size {
        margin-top: 7.8%;
        width: 25%;
        text-align: center;
        &:first-child {
          display: none;
        }
        &:nth-child(2) {
          text-align: left;
          margin-top: 0;
          margin-right: 15px;
          width: 42%;
        }
      }

      @include desktop-size {
          margin-top: 5%;
          width: 15%;
          text-align: left;
          &:nth-child(2) {
            margin-right: 0;
            width: 40%;
          }
      }

      &-title {
        color: $silver-color;
        text-transform: uppercase;
        margin: 0;

        @include tablet-size {
          display: none;
        }
      }
    }

    &__icon {
      @include tablet-size {
        background-image: url("../../assets/Icons/SVG/Icon-kebab-default.svg");
        background-repeat: no-repeat;
        width: 11px;
        margin-top: 7.8%;
      }

      @include desktop-size {
          margin-top: 4.8%;
      }
    }
  }
}
