@import "../../style/base.scss";

.main {
  background-color: $grey-color;
  padding: 24px 16px;

  @include tablet-size {
    padding: 48px 24px;
  }
  @include desktop-size {
    padding: 48px 180px;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    &-titles {
      display: none;
      @include tablet-size {
        display: table-header-group;
      }
      &-row {
        text-align: left;
        @include pargraph-tablet-style;
        color: $silver-color;
        text-transform: uppercase;
      }
    }

    &-body {
      &__group {
        @include flex-display-row;
        justify-content: space-between;

        @include tablet-size {
          display: block;
        }
      }

      &__head {
        @include flex-display-column;
        @include tablet-size {
          display: table-row;
        }
      }

      &__data {
        padding-top: 2%;

        &:first-child {
          @include tablet-size {
            width: 29%;
            padding: 0;
          }
          @include desktop-size {
            width: 44%;
          }
        }
        &::before {
          @include subheader-mobile-style;
          content: attr(data-label);
          padding: 24px 0 10px 0;
          text-transform: uppercase;
          color: #afafaf;
          display: block;

          @include tablet-size {
            @include subheader-tablet-style;
            display: none;
          }
        }

        &:nth-child(2) {
          display: none;
          @include tablet-size {
            width: 5%;
          }
        }

        & h3 {
          margin: 0;
          margin-top: 15px;
        }

        &-input {
          display: none;
          @include tablet-size {
            display: block;
            content: url("../../assets/Icons/SVG/Icon-kebab-default.svg");
            background-repeat: no-repeat;
            width: 5px;
          }
        }
      }

      &__dots {
        content: url("../../assets/Icons/SVG/Icon-kebab-default.svg");
        background-repeat: no-repeat;
        width: 5px;

        @include tablet-size {
          display: none;
        }
      }
    }
  }
}

.dropdown {
  
  position: relative;

  &__position {
    position: absolute;
    right: 0;
    z-index: 2;
    border: none;
    border-radius: 4px;
    background-color: white;
    outline: none;
    width: 145px;
    height: 40px;
    text-align: left;
    padding: 0 0 0 20px;
    font-size: 16px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  }
}
