@import "../../style/base.scss";

.main__content {
  margin: 0 16px;

  @include tablet-size {
    margin: 0 24px;
  }

  @include desktop-size {
    margin: 0 180px;
  }

  &-header {
    @include flex-display-column;
    margin: 32px 0px 0px 0px;

    @include tablet-size {
      @include flex-display-row;
      justify-content: space-between;
      align-items: center;
      margin: 48px 0;
    }

    &__title {
      @include header-mobile-style;
      margin-bottom: 16px;
      text-transform: capitalize;

      @include tablet-size {
        @include header-tablet-style;
        margin: 0;
      }
    }

    &__searchInput {
      width: 100%;
      padding: 1.3rem;
      border-radius: 5px;
      border: 1px solid $divider-color;
      background-image: url("../../assets/Icons/SVG/Icon-search.svg");
      text-indent: 10%;
      background-position: 5% 50%;
      background-repeat: no-repeat;
      background-color: $grey-color;

      &::placeholder {
        color: $black-text-color;
      }
      &:hover {
        border-color: $instock-blue-color;
      }

      @include tablet-size {
        width: 35%;
      }

      @include desktop-size {
        width: 24%;
      }
    }

    &__addButton {
      width: 60px;
      height: 60px;
      bottom: 10%;
      right: 10%;
      border-radius: 50%;
      position: fixed;
      background-color: $instock-blue-color;
      border: none;

      @include tablet-size {
        width: 80px;
        height: 80px;
        right: 15%;
      }
    }
  }
}
